<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
  </head>
  <body>
    <div id="app">
      <form action="https://ccore.newebpay.com/MPG/mpg_gateway" method="post">
        <input type="text" name="MerchantID" value="MS155432950">
        <input type="hidden" name="TradeInfo" :value="order.aesEncrypt">
        <input type="hidden" name="TradeSha" :value="order.shaEncrypt">
        <input type="text" name="TimeStamp" :value="order.order.TimeStamp">
        <input type="text" name="Version" value="1.5">
        <input type="text" name="MerchantOrderNo" :value="order.order.MerchantOrderNo">
        <input type="text" name="Amt" :value="order.order.Amt">
        <input type="email" name="Email" :value="order.order.Email">
        <button type="submit">送出</button>
      </form>
    </div>
    <script type="module">
      import { createApp } from 'https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.37/vue.esm-browser.min.js';

      const host = '<%= Host %>' || 'http://localhost:3000/';
      const app = {
        data() {
          return {
            orderId: '',
            order: {
              order: {}
            }
          }
        },
        async mounted() {
          const searchUrl = new URLSearchParams(window.location.search); //取params 的值(:id)
          this.orderId = searchUrl.get('order');
          const url = `/order/${this.orderId}`;
          const res = await axios.get(url);
          this.order = res.data
        }
      }

      createApp(app).mount('#app')
    </script>
    
  </body>
</html>
